/* SOLO mobile */
.fc .fc-timeGridWeek-button {
  display: none;
}

.fc .fc-timeGridDay-button {
  display: none;
}
@media (max-width: 640px) {
  /* título (Mes Año) */
  .fc .fc-toolbar-title {
    font-size: 1.5rem;
    /* font-weight: bold; */
    text-transform: capitalize;
  }

  /* días de la semana (Mon, Tue...) */
  .fc .fc-col-header-cell-cushion {
    font-size: 1rem;
  }

  /* número del día */
  .fc .fc-daygrid-day-number {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  /* botones */
  .fc .fc-button {
    padding: 0.5rem 0.3rem;
    font-size: 1rem;
    line-height: 1;
  }

  /* grupo de botones */
  .fc .fc-toolbar-chunk {
    display: flex;
    gap: 0.01rem;
  }

  .fc .fc-timeGridWeek-button {
    display: none;
  }

  .fc .fc-timeGridDay-button {
    display: none;
  }

  .fc .fc-dayGridMonth-button {
    display: none;
  }
}
@media (max-width: 640px) {
  /* celda del día */
  .fc .fc-daygrid-day-frame {
    padding: 2px;
  }

  /* contenido interno */
  .fc .fc-daygrid-day-events {
    margin-top: 2px;
  }
}
@media (max-width: 640px) {
  .fc {
    font-size: 12px;
  }
}
